.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    /* background-image: linear-gradient(45deg, green, pink); */
    background: green;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input{
    height: 30px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: grey;
    font-size: 18px;
}

.search-icon{
    width: 15px;   
    height: 15px;  
    object-fit: contain; 
    padding: 15px;
    border-radius: 50%;
    color: aliceblue;
    background: aliceblue;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}

.temperature {
    color: white;
    font-size: 50px;
    line-height: 1;
}

.description{
    color: white;
    font-size: 15px; 
}


.location {
    color: white;
    font-size: 20px;
}

.humidity-icon{
    width: 50px;
    margin: 30px 0;
}

.wind-icon{
    width: 50px;
    margin: 30px 0;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    display: flex;
    color: white;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span{
    display: block;
    font-size: 16px;;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}
